# Data Cleaning and Feature Engineering

Load Solcast data ...

In [11]:
import pandas as pd

df = pd.read_csv('..\data\\30.04442_31.235712_Solcast_PT60M.csv')

# select subset of the features
df = df[['PeriodEnd', 'PeriodStart', 'AirTemp', 'Dhi', 'Dni', 'Ghi', 'PrecipitableWater', 
    'RelativeHumidity', 'SurfacePressure', 'WindDirection10m', 'WindSpeed10m']]

# rename columns
df.columns = ['PeriodEnd', 'PeriodStart', 'Temperature', 'DHI', 'DNI', 'Radiation', 
    'Precipitation', 'Humidity', 'Pressure', 'WindDirection', 'WindSpeed']

# display sample rows
df.sample(10)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed
21789,2009-06-26T23:00:00Z,2009-06-26T22:00:00Z,23.9,0,0,0,24.0,72.3,995.5,346,3.8
72772,2015-04-21T06:00:00Z,2015-04-21T05:00:00Z,19.4,167,413,360,11.7,53.5,998.4,320,2.6
95705,2017-12-01T19:00:00Z,2017-12-01T18:00:00Z,16.1,0,0,0,16.0,70.5,1004.6,26,3.3
101619,2018-08-05T05:00:00Z,2018-08-05T04:00:00Z,26.1,66,480,194,21.4,75.8,994.7,358,1.2
127295,2021-07-10T01:00:00Z,2021-07-10T00:00:00Z,26.1,0,0,0,22.0,64.8,999.9,335,3.6
2589,2007-04-18T23:00:00Z,2007-04-18T22:00:00Z,16.1,0,0,0,20.2,72.9,999.9,18,2.7
107837,2019-04-21T07:00:00Z,2019-04-21T06:00:00Z,16.7,143,756,623,9.8,47.4,1001.6,313,6.1
59714,2013-10-24T04:00:00Z,2013-10-24T03:00:00Z,15.8,1,5,1,11.6,82.7,1000.6,8,2.8
81976,2016-05-08T18:00:00Z,2016-05-08T17:00:00Z,25.9,0,0,0,25.1,30.4,998.5,40,4.3
52080,2012-12-10T02:00:00Z,2012-12-10T01:00:00Z,10.8,0,0,0,13.1,72.3,997.9,224,2.7

In [12]:
# show a summary of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131469 entries, 0 to 131468
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   PeriodEnd      131469 non-null  object
 1   PeriodStart    131469 non-null  object
 2   Temperature    131469 non-null  float64
 3   DHI            131469 non-null  int64
 4   DNI            131469 non-null  int64
 5   Radiation      131469 non-null  int64
 6   Precipitation  131469 non-null  float64
 7   Humidity       131469 non-null  float64
 8   Pressure       131469 non-null  float64
 9   WindDirection  131469 non-null  int64
 10  WindSpeed      131469 non-null  float64
dtypes: float64(5), int64(4), object(2)
memory usage: 11.0+ MB

In [13]:
 # interpret columns as appropriate data types to ensure compatibility
df['Radiation']     = df['Radiation'].astype(float)
df['Temperature']   = df['Temperature'].astype(float) # or int
df['Pressure']      = df['Pressure'].astype(float)
df['Humidity']      = df['Humidity'].astype(int) # or int
df['WindDirection'] = df['WindDirection'].astype(float)
df['WindSpeed']     = df['WindSpeed'].astype(float)
df['PeriodStart'] = pd.to_datetime(df['PeriodStart']).dt.to_period('T').dt.to_timestamp()
df['PeriodEnd'] = pd.to_datetime(df['PeriodEnd']).dt.to_period('T').dt.to_timestamp()

# display dataframe summary
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131469 entries, 0 to 131468
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   PeriodEnd      131469 non-null  datetime64[ns]
 1   PeriodStart    131469 non-null  datetime64[ns]
 2   Temperature    131469 non-null  float64
 3   DHI            131469 non-null  int64
 4   DNI            131469 non-null  int64
 5   Radiation      131469 non-null  float64
 6   Precipitation  131469 non-null  float64
 7   Humidity       131469 non-null  int32
 8   Pressure       131469 non-null  float64
 9   WindDirection  131469 non-null  float64
 10  WindSpeed      131469 non-null  float64
dtypes: datetime64[ns](2), float64(6), int32(1), int64(2)
memory usage: 10.5 MB

In [14]:
# Create new features(year, month, day) from start and end time of data collection  
df['YearPS'] = pd.to_datetime(df['PeriodStart']).dt.year
df['YearPE'] = pd.to_datetime(df['PeriodEnd']).dt.year

df['MonthPS'] = pd.to_datetime(df['PeriodStart']).dt.month
df['MonthPE'] = pd.to_datetime(df['PeriodEnd']).dt.month

df['HourPS'] = pd.to_datetime(df['PeriodStart']).dt.hour
df['HourPE'] = pd.to_datetime(df['PeriodEnd']).dt.hour

df.head(5)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE
0,2007-01-01 02:00:00,2007-01-01 01:00:00,10.4,0,0,0.0,11.1,79,1013.8,348.0,3.6,2007,2007,1,1,1,2
1,2007-01-01 03:00:00,2007-01-01 02:00:00,10.3,0,0,0.0,10.8,79,1013.9,349.0,3.4,2007,2007,1,1,2,3
2,2007-01-01 04:00:00,2007-01-01 03:00:00,10.4,0,0,0.0,10.5,79,1014.2,350.0,3.3,2007,2007,1,1,3,4
3,2007-01-01 05:00:00,2007-01-01 04:00:00,10.5,1,10,2.0,10.3,78,1014.7,350.0,3.1,2007,2007,1,1,4,5
4,2007-01-01 06:00:00,2007-01-01 05:00:00,10.7,36,319,85.0,10.2,77,1015.2,350.0,3.0,2007,2007,1,1,5,6

In [15]:
# Create a new feature for sunrise using the function below; fill time for sunrise
def time_to_sunrise(row):
    """
    A function for identifying time of sunrise.
    """
    value= 0
    if row['HourPS'] == 4 and row['HourPE'] == 5 and row['Radiation'] > 0:
        value= '05:00:00'
    elif row['HourPS'] == 5 and row['HourPE'] == 6 and row['Radiation'] > 0:
        value= '06:00:00'
    return value

# create a new feature for sunset using the function below; fill time for sunset
def time_to_sunset(row):
    """
    A function for identifying time of sunset.
    """
    value= 0
    if row['HourPS'] == 17 and row['HourPE'] == 18 and row['Radiation']> 0:
        value= '18:00:00'
    elif row['HourPS'] == 18 and row['HourPE']== 19 and row['Radiation']> 0:
        value= '19:00:00'
    return value

In [16]:
# Create a new column using the function above
df['Sunrise'] = df.apply(time_to_sunrise, axis=1)

# Create a new column using the function above
df['Sunset'] = df.apply(time_to_sunset, axis=1)

df.head(5)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise,Sunset
0,2007-01-01 02:00:00,2007-01-01 01:00:00,10.4,0,0,0.0,11.1,79,1013.8,348.0,3.6,2007,2007,1,1,1,2,0,0
1,2007-01-01 03:00:00,2007-01-01 02:00:00,10.3,0,0,0.0,10.8,79,1013.9,349.0,3.4,2007,2007,1,1,2,3,0,0
2,2007-01-01 04:00:00,2007-01-01 03:00:00,10.4,0,0,0.0,10.5,79,1014.2,350.0,3.3,2007,2007,1,1,3,4,0,0
3,2007-01-01 05:00:00,2007-01-01 04:00:00,10.5,1,10,2.0,10.3,78,1014.7,350.0,3.1,2007,2007,1,1,4,5,05:00:00,0
4,2007-01-01 06:00:00,2007-01-01 05:00:00,10.7,36,319,85.0,10.2,77,1015.2,350.0,3.0,2007,2007,1,1,5,6,06:00:00,0

In [17]:
# remove rows with zero values
df_new = df.loc[~((df['Radiation'] == 0) & (df['DNI'] == 0) & (df['DHI'] == 0)),:]

# convert datetime column of endperiod to just date
df_new['Date'] = pd.to_datetime(df_new['PeriodEnd']).dt.normalize()

# convert the column (it's a string) to datetime type
dt_series = pd.to_datetime(df_new['Date'])

# create datetime index passing the datetime series
dt_index = pd.DatetimeIndex(dt_series.values)

# set date index
df_new1 = df_new.set_index(dt_index)

# display first 5 rows
df_new1.head()

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise,Sunset,Date
2007-01-01,2007-01-01 05:00:00,2007-01-01 04:00:00,10.5,1,10,2.0,10.3,78,1014.7,350.0,3.1,2007,2007,1,1,4,5,05:00:00,0,2007-01-01
2007-01-01,2007-01-01 06:00:00,2007-01-01 05:00:00,10.7,36,319,85.0,10.2,77,1015.2,350.0,3.0,2007,2007,1,1,5,6,06:00:00,0,2007-01-01
2007-01-01,2007-01-01 07:00:00,2007-01-01 06:00:00,11.6,73,653,268.0,10.1,71,1015.6,353.0,3.3,2007,2007,1,1,6,7,0,0,2007-01-01
2007-01-01,2007-01-01 08:00:00,2007-01-01 07:00:00,13.3,90,800,441.0,10.0,63,1015.7,357.0,3.9,2007,2007,1,1,7,8,0,0,2007-01-01
2007-01-01,2007-01-01 09:00:00,2007-01-01 08:00:00,14.9,101,862,566.0,9.9,55,1015.8,360.0,4.6,2007,2007,1,1,8,9,0,0,2007-01-01

In [18]:
# sample daily average for the solar and weather features
df_new1['Daily_radiation'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Radiation'].mean()
df_new1['Daily_DNI'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['DNI'].mean()
df_new1['Daily_DHI'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['DHI'].mean()
df_new1['Daily_Temp'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Temperature'].mean()
df_new1['Daily_Precip'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Precipitation'].mean()
df_new1['Daily_Humidity'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Humidity'].mean()
df_new1['Daily_Pressure'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Pressure'].mean()
df_new1['Daily_WindDir'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['WindDirection'].mean()
df_new1['Daily_WindSpeed'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['WindSpeed'].mean()

# display a summary of our dataframe
df_new1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 72296 entries, 2007-01-01 to 2021-12-30
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PeriodEnd        72296 non-null  datetime64[ns]
 1   PeriodStart      72296 non-null  datetime64[ns]
 2   Temperature      72296 non-null  float64
 3   DHI              72296 non-null  int64
 4   DNI              72296 non-null  int64
 5   Radiation        72296 non-null  float64
 6   Precipitation    72296 non-null  float64
 7   Humidity         72296 non-null  int32
 8   Pressure         72296 non-null  float64
 9   WindDirection    72296 non-null  float64
 10  WindSpeed        72296 non-null  float64
 11  YearPS           72296 non-null  int64
 12  YearPE           72296 non-null  int64
 13  MonthPS          72296 non-null  int64
 14  MonthPE          72296 non-null  int64
 15  HourPS           72296 non-null  int64
 16  HourPE           72296 non-null  int64
 17  Sunrise          72296 non-null  object
 18  Sunset           72296 non-null  object
 19  Date             72296 non-null  datetime64[ns]
 20  Daily_radiation  72296 non-null  float64
 21  Daily_DNI        72296 non-null  float64
 22  Daily_DHI        72296 non-null  float64
 23  Daily_Temp       72296 non-null  float64
 24  Daily_Precip     72296 non-null  float64
 25  Daily_Humidity   72296 non-null  float64
 26  Daily_Pressure   72296 non-null  float64
 27  Daily_WindDir    72296 non-null  float64
 28  Daily_WindSpeed  72296 non-null  float64
dtypes: datetime64[ns](3), float64(15), int32(1), int64(8), object(2)
memory usage: 16.3+ MB

In [19]:
# drop irrelevant features
new_df= df_new1.drop(['PeriodStart', 'YearPS', 'HourPS', 'HourPE', 'Sunrise', 'Sunset', 'MonthPS', 'YearPE'], axis= 1)

# drop ALL duplicate values except the last value
new_df = new_df[~new_df.Date.duplicated(keep = 'last')]

# select column features
final_df= new_df[['MonthPE', 'Date','Daily_Temp','Daily_Precip', 'Daily_Humidity', 'Daily_Pressure',
                  'Daily_WindDir','Daily_WindSpeed','Daily_DNI', 'Daily_DHI','Daily_radiation']]

final_df.shape

(5478, 11)

In [20]:
# save cleaned dataset
final_df.to_csv('..\data\cleaned_solar_irradiation.csv', index=True)